@model GEscolar.Dominio.gesc_disciplina

@{
    ViewBag.Title = "Cadastro de Disciplina";
    Layout = "~/Views/Shared/_LayoutEdicao.cshtml";
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form_Submit" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })        

        <div class="form-group">
            @Html.LabelFor(model => model.DIS_ST_DESCRICAO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIS_ST_DESCRICAO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIS_ST_DESCRICAO, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
