@model GEscolar.Dominio.gesc_falta

@{
    ViewBag.Title = "Deseja realmente excluir essa Falta";
    Layout = "~/Views/Shared/_LayoutDelete.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "form_Submit"}))
{
    <div>
        <dl class="dl-horizontal">
            @Html.AntiForgeryToken()
            <dt>
                @Html.DisplayNameFor(model => model.FAL_IN_CODIGO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FAL_IN_CODIGO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ALT_IN_CODIGO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ALT_IN_CODIGO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FAL_DT_DIA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FAL_DT_DIA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FAL_IN_QTDE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FAL_IN_QTDE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DTU_IN_CODIGO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DTU_IN_CODIGO)
            </dd>

        </dl>

    </div>
}